* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #F4FAF2;
    color: #005C3B;
}

header {
    height: 75px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 7%;
    box-shadow: 0 2px 10px #005C3B20;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #138A3D;
}

.logo span {
    color: #4CAF32;
}

nav {
    display: flex;
    gap: 35px;
    margin-left: 80px;
}

nav a {
    text-decoration: none;
    color: #005C3B;
}

nav .ativo,
nav a:hover {
    color: #4CAF32;
}

.perfil {
    margin-left: auto;
    text-decoration: none;
    font-size: 22px;
}

main {
    width: 86%;
    max-width: 1200px;
    margin: 45px auto;
}

.descricao {
    color: #777;
    margin: 8px 0 30px;
}

.frequencia {
    background: #005C3B;
    color: white;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.frequencia strong {
    display: block;
    font-size: 40px;
    color: #9BD88A;
    margin: 10px 0;
}

.faltas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.materia {
    background: white;
    padding: 25px;
    border-radius: 15px;
    border-left: 5px solid #138A3D;
    box-shadow: 0 5px 20px #005C3B15;
}

.materia strong {
    display: block;
    font-size: 35px;
    color: #138A3D;
    margin: 10px 0;
}

.materia p {
    color: #777;
}